{% extends "::base.html.twig" %}

{% block body %}
<h1>Hello Worldo</h1>
hola
<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>
{% endblock %}