{% extends "::empresas.html.twig" %}
{% block titulo %}Registro de Empresas{% endblock %}
{% block cuerpo %}
<div class="row">
 {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{flashMessage}}</strong>
        </div>
    {% endfor %}

	<h2>Ingresa tu solicitud de registro</h2>
    
    <div style="width: 40%">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <input class="btn btn-success"  type="submit" value="Enviar solicitud" />
    {{ form_end(form) }}
    </div>
    <br>
    
  <p>
    Ingresa tu solicitud de registro y recibe tus credenciales<br>

    Envia tu solicitud y forma parte del sistema de publicidad mas efectivo del pais MiiCard<br>

    Tu solicitud es importante para formar parte de nuestro sistema ya que con ella podras<br>
    obtener tu usuario y contraseña y disfrutar de nuestros servicios.<br>
    Nuestro servicio ofrece la oportunidad de hacer crecer tu empresa atravez de el sistema<br>
    mas efectivo de publicidad via internet, al formar parte de nuestro sistema podras ingresar:<br>
    <ul>
      Promociones
      <li>Limitadas: Promociones con un tiempo de duracion y un numero fijo sujeto a condiciones
        establecidas por tu empresa</li>
      <li>Ilimitadas: Promociones sin tiempo limite ni numero especificado que estaran disponibles
        hasta que tu empresa lo decida </li>
        
    </ul>




  </p>

</div>
{% endblock %}