<div id="tablediv">
    <div class="row">
        <h2>Lista de promociones</h2>
        <div class="table-responsive">
            
            <table class="table table-striped">
                <tr>
                    <th>Codigo</th>
                    <th>Cedula</th>
                </tr>
                {% for promo in promos %}
                	<tr>
                		<td>{{ promo.titProm }}</td>
                		<td>{{ promo.detProm }}</td>
                    	{#<td>{% if categ.estado == 1 %}Activo{% else %}Inactivo{% endif %}</td>#}
                	</tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
