    <div class="row">
        <h2>Lista de categorias</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Codigo</th>
                    <th>Cedula</th>
                </tr>
                {% for categ in categorias %}
                	<tr>
                		<td>{{ categ.desCat }}</td>
                    	<td>{% if categ.estado == 1 %}Activo{% else %}Inactivo{% endif %}</td>
                	</tr>
                {% endfor %}
            </table>
        </div>
    </div>
