{% extends "::user.html.twig" %}
{% block titulo %}MiiPerfil{% endblock %}
{% block cuerpo %}
<div class="row">
	<h2>Nombre de Usuario</h2>
    <table class="table table-striped">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cedula</th>
        <th>E-mail</th>
        <th>Telefono</th>
        <th>Nickname</th>
        <th>Contraseña</th>
      </tr>
    </table>
</div>
{% endblock %}