{% extends "::admin.html.twig" %}
{% block title %}Categorias{% endblock %}
{% block titulo %} Administracion de Categorias{%  endblock %}
{% block cuerpo %}
<div id="mensaje">
 	<p>{{ menssaje }}</p>
</div>

<div class ="row">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#ingreso" aria-controls="ingreso" role="tab" data-toggle="tab">Ingreso</a></li>
    <li role="presentation"><a href="#modificacion" aria-controls="modificacion" role="tab" data-toggle="tab">Modificacion</a></li>    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="ingreso">
        {{ form_start(form) }}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        <form>
          <div class="form-group">

            {{ form_row(form.desCat) }}
          </div>
        </form>
        {{ form_end(form) }}
    </div>
    <div role="tabpanel" class="tab-pane" id="modificacion">...</div>
  </div>

</div>

{% endblock %}