{% extends "::base.html.twig" %}
{% block stylesheets %}
<link href="{{ asset('css/index.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-12">

		<div class="imagen">

        <img class="imagen" src="{{asset('images/fondo.png') }}" alt="fondoMyCard">
         <h1>MiiCard</h1>
         <h2><span>Plataforma de promociones al alcance de ti</span><br><br>
         <p class="textoBlanco p"><a class="p" href="{{ path('user_register') }}"">Registrate Gratis Ahora</a></p>
         </h2>
        </div>
		 
	</div>
</div>
<div class="row centrar">
	<div class="col-md-12 centrar banner verde"><p class="centrar letrablanca">Registrate como empresa para promocionarte eficientemente <br></p>
	</div>
	<div class="col-md-12 centrar banner azul"><p class="centrar letrablanca">Registrate como usuario para tener tu membresia a mas de 100 Empresas asociadas.</p>
	</div>
	<div class="col-md-12 centrar banner rojo"><p class="centrar letrablanca">Quieres saber mas sobre MiiCard ? entra acá: <a href="">Más información.<a></p>
	</div>
</div>
<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>
{% endblock %}