{% extends "::admin.html.twig" %}
{% block titulo %}Registro de Empresas{% endblock %}
{% block cuerpo %}
    <div class="row">
        <h2>Registra tu Empresa </h2>
        <table class="table table-striped">
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Cantidad de Promociones</th>
            </tr>
            <tr>
                <td>Row 1: Col 1</td>
                <td>Row 1: Col 2</td>
                <td>Row 1: Col 1</td>
                <td>Selecionar</td>

            </tr>
        </table>
    </div>
{% endblock %}