
{% extends "::base.html.twig" %}
{% block stylesheets %}{% endblock %}
{% block title %}Empresas{% endblock %}
{% block usert %}Empresas{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row ">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="{% block m2%} {% endblock %}"><a href="{{ path('perfilemp') }}" ><i class="fa fa-arrow-left" aria-hidden="true"></i>
							Atras</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header" >{% block titulo %} Caracteristicas del Sistema{% endblock %}</h1>
				<div class="contenido">
                    {% block cuerpo %}{% endblock %}
				</div>

				<!--- <h2 class="sub-header">Section title</h2>-->
			</div>
		</div>
	</div>

{% endblock %}